@font-face {
    font-family: Inter;
    src: url("./assets/fonts/Inter/static/Inter_24pt-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #efefef;
    color: black;
    padding: 0 5vw;
}
header{
    padding-top: 1vw;
    padding-bottom: 2vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}

li{
    list-style: none;
    font-size: 24px;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #3d5c7e;
}

/* Портфолио*/

.portfolio-block{
    
}
.portfolio-block__h1{
    margin-top: 8vh;
    text-align: center;
}
.slider {
    height: 90vh;
    display: grid;
    grid-template-columns: 4fr 1fr ;

}
.slider-left{
    padding: 1vw;
}
.slider-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
}
.slider-right-arrows{
    display: flex;
    flex-direction: column;
    gap: 4vh;
}
.slider-right-arrow-up{
    cursor: pointer;
    width: 30px;
}
.slider-right-arrow-down{
    cursor: pointer;
    width: 30px;
    rotate: 180deg;
}

.slider-block{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    justify-content: center;
}

.slider-img{
    width: 100%;
    border-radius: 10px;
}
.slider-img-no-current{
    filter:blur(2px);
}
.slider-img-current{
    filter:blur(0px);
}
